$text-color: #3e4056;
$bg-color: #f2f2f2;
$white: #ffffff;
$soft-red: #ed5267;
$gray: #b2b3bb;
$dark-grayish-blue: #3e3f58;
$soft-violet: #c5adef;
$light-grayish-blue: #ECF1F8;

$basic-font: "Open Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$font-size: 16px;

/*MEDIA*/
$wide-screen: 1200px;
$screen-desktop: 992px;
$screen-tablet: 767px;
$screen-phones: 576px;
